# Versioning and metadata
.git
.gitignore
.dockerignore
.vscode

# Build dependencies
node_modules

# Environment (contains sensitive data)
.env

# Files not required for production
Dockerfile
Dockerfile.dev
docker-compose.yml
docker-compose.development.yml
README.md
eslint.json
.prettierrc
test
